
@media screen and (max-width: 980px) {
    .content {
        max-width: 1440px;
        margin: auto;
        grid-gap: 3rem;
        display: grid;
        gap: 3rem;
        grid-template-areas: "sidebar main anchors";
        grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
        padding-left: 1rem;
        padding-right: 1rem;
    }


    figure img {
        width: 100%;
    }
}

@media screen and (max-width: 830px) {
    .content {
        max-width: 1440px;
        margin: auto;
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    figure img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    header .logo {
        text-align: center;
    }

    .content {
        display: block;
        max-width: 1440px;
        margin: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    figure img {
        width: 100%;
    }
}